  .green-text {
    color: green;
      /*font-style: italic;*/
  }

   .smaller-image {
    width:100px;
  }
  .thick-green-border {
    border-color: silver;
    border-width: 1px;
    border-style: solid;
    border-radius:10px;
  }
  .silver-background{
    background-color:#D3D8E9;
    }
    body{
    background-color:#D3D8E9;
  }
  .head-text {
    color: white;
    background-color:#8e8b8bd6;
  }
  .column-text {
    color: black;
    background-color:#c4ccc9;
  }
   .bottom-text {
    color: silver;
    background-color:#2a5886;
  }

   .topic-list__item{
       margin-bottom: 20px;
       padding: 10px;
   }

 /*body {
   background: #D3D8E9 url("images/background.gif") no-repeat;
  }*/