<ul class="nav flex-column" style="background:#A3A8B9;">
    <li class="nav-divider"></li>
    <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/catalog/">Catalog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Sale</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Best</a>
    </li>
    <li class="nav-divider"></li>

    <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/admin/">Service enter</a>
    </li>
</ul>
