<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e-shop Santehvent</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}" />

</head>
<body>



<div class="row">
    <div class="head-text col-sm-12">
        <h2 class="head-text text-left"> &nbsp;&nbsp;&nbsp;&nbsp;Very simple shop Santehvent...  Try to buy</h2>
    </div>
</div>

<h1>This is details of good {{ good_obj.goodName }}</h1>

  <ul>
  This is details of good {{ good_obj.goodName }}
  </ul>



<form action="" method="post">
{% csrf_token %}
<input type="submit" value="Buy" />
</form>

</body>
</html>