{% extends "base.html" %}

{% block title %}e-shop Santehvent{% endblock %}

{% block content %}

<div class="container-fluid">

<div class="row">
    <div class="head-text col-sm-12">
        <h2 class="head-text text-left"> &nbsp;&nbsp;&nbsp;&nbsp;Very simple shop Santehvent...  Try to buy</h2>
    </div>
</div>

<div class="row">
{% include 'leftmenu2.html' %}

<div class="col-xs-12 col-md-11">
  <div class="row">



<div class="row">
    <div class="head-text col-sm-12">
        <h2 class="head-text text-left"> &nbsp;&nbsp;&nbsp;&nbsp;Very simple shop Santehvent...  Try to buy</h2>
    </div>
</div>
  <ul>
  This is review of good with {{ good_id }} id
  </ul>

      </div>

</div>
</div>

{% endblock %}